.navbar {
font-family: Montserrat, sans-serif;
margin-bottom: 0;
background-color: #2d2d30;
font-size: 11px !important;
letter-spacing: 4px;
opacity: 0.9;
border: 0;
}

.item .carousel-caption {
color: black;
font-family: 'Roboto' !important;
}

.container .jumbotron{
text-align: center;
}

.bg-1  {
text-align: center;
}

.form-control {
width: 50%;
}

.form-horizontal {
padding-left: 25%;
margin-top: 10%;
font-family: Montserrat, sans-serif;
font-size: 14px;
margin-bottom: 10%;

}

.container  #register .jumbotron{
	background-color: #2d2d30;
	color: white;
	font-family: Montserrat, sans-serif;
}


